@keyframes bg12move {
    0%{
        bottom:0;
        opacity:0;
    }
    100%{
        bottom:90px;
        opacity:1;
    }
}
@keyframes mainmove {
    0%{
        top:0;
        opacity:0;
    }
    100%{
        top:25px;
        opacity:1;
    }
}
@keyframes bg13move {
    0%{
        bottom:-90px;
        opacity:0;
    }
    100%{
        bottom:0px;
        opacity:1;
    }
}
@keyframes ozimove {
    0%{
        opacity: 0;
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
        transition: all 1s;
    }
    100%{
        opacity: 1;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        transition-delay: 0.7s;
    }
}
@keyframes oxzimove {
    0%{
        opacity: 0;
        transition: all 1s;
    }
    100%{
        opacity: 1;
        transition-duration: 1s;
        transition-delay: 2s;
    }
}
@keyframes bg21move {
    0%{
        transition: all 1s;
        opacity: 0;
        margin-left: -1108px;
    }
    100%{
        opacity: 1;
        margin-left: -608px;
        transition-delay: 0.7s;
    }
}
@keyframes bg22move {
    0%{
        transition: all 1s;
        opacity: 0;
        margin-left: 320px;
    }
    100%{
        margin-left: -280px;
        opacity: 1;
        transition-delay: 0.7s;
    }
}
@keyframes bg23move {
    0%{
        transition: all 1s;
        bottom: -40%;
    }
    100%{
        bottom: 15%;
        transition-delay: 0.7s;
    }
}